/* h1 {
    color: red;
}

.biggerFont {
    font-size: 50px;
}

.wavyFont {
    color: chartreuse;
    } */

/*No need to touch anything in this file:*/
li {
    background-color: #B10DC9;
}

.highlight {
    background-color: #7FDBFF;
}
